{% load templates %}
{% load static %}

<div class="product-order" style="display:flex;
    flex-direction:row;
    gap:1em;
    padding-inline:0.5em;
    margin-bottom:1em;
    align-items:center"
>
    <img class="product-cart-img" src="{% get_media_prefix %}/{{product.image}}.jpg"
        alt="{{ product.name }}" />
    <p style="font-weight:bold;font-weight:20px">{{ product.name }}</p>
    <p>{{ product.description|limitChars:100 }}</p>
    {% if product.quantity %}
    <p id="product-quantity">{{product.quantity}}</p>
    <p> x </p>
    {% endif %}
    <p id="product-price" style="font-weight:bold;font-size:22px">{{ product.price }}&nbsp€</p>
</div>