{% extends 'base.html' %}
{% load templates %}
{% block title %}
Admin
{% endblock title %}
{% load static %}

{% block content %}
<main class="container">
    {% if users != None %}
    <details>
        <summary role="button">
            Users
        </summary>
        <div class="admin-actions">
            <a role="button" href="{% url 'other_user' %}">Add User</a>
        </div>
        {% for user in users %}
        <div class="list">
            {% include 'custom/inline_user.html' with user=user%}
        </div>
        {% endfor %}
        </div>
    </details>
    {% endif %}
    <details>
        <summary role="button">
            Produtos
        </summary>
        <div class="admin-actions">
            <a role="button" href="{% url 'add_product' %}">Add Product</a>
            <a role="button" href="{% url 'export_products' %}">Export</a>
        </div>
        {% for product in products %}
        {% include 'custom/inline_product.html' with product=product%}
        {% endfor %}
    </details>
    </div>
</main>
{% endblock content %}