{% extends 'base.html' %}
{% load templates %}
{% block title %}
Admin
{% endblock title %}
{% load static %}

{% block content %}
<main class="container">
    <details>
        <summary role="button">
            Users
        </summary>
        <div class="admin-actions">
            <a role="button" href="{% url 'add_user' %}">Add Admin</a>
            <a role="button" href="{% url 'other_user' %}">Add Other</a>
        </div>
        {% for user in users %}
        <div>
            <h2>{{ user.username }}</h2>
            <p>{{ user.email }}</p>
        </div>
        {% endfor %}
        </div>
    </details>
    <details>
        <summary role="button">
            Produtos
        </summary>
        <div class="admin-actions">
            <a role="button" href="/addProduct">Add Product</a>
        </div>
        {% for product in products %}
        {% include 'custom/inline_product.html' with product=product%}
        {% endfor %}
        </div>
    </details>
    </div>
</main>
{% endblock content %}