{% extends 'base.html' %} {% load templates %} {% load static %} {% block title %}
Home {% endblock title %} {% block content %}
<div style="display:flex;flex-direction:row;gap:5em">
  <div class="grid-custom" style="flex:3">
    {% for product in products %}
    <article>
      <header>
        <img class="product-img" src="{% get_media_prefix %}/{{product.image}}.jpg" alt="{{ product.name }}">
      </header>
      <div>
        <p class="product-title">{{ product.name }}</p>
        <p class="product-body">{{ product.description|limitChars:100 }}</p>
        <div style="display:flex;flex-direction:row;align-items:center;margin-top:1em">
          <p style="font-weight:500">Quant: {{ product.stock }}</p>
          <p style="margin-left:auto" class="product-price">{{ product.price }} €</p>
        </div>
      {% with getid=product|private:'_id'%}
      
      <button
        class="addCart" id="{{ product|private:'_id' }}"
         {% if product|private:'_id'|findInCart:cart or product.stock == 0 %} disabled {% endif %}>
        
        {%if product|private:'_id'|findInCart:cart %}
        Already in cart
        {% elif product.stock == 0 %}
        Out of stock
        {% else %}
        Add To Cart
        {% endif %}
      </button>
      {% endwith %}
    </div>

    </article>
    {% endfor %}
  </div>
  <div style="flex:1">
    <article>
      <header>Most bought today</header>
      <div>
        <ul>
          {% for product in most_bought_today %}
          <li>{{ product.name }}</li>
          {% endfor %}
        </ul>
      </div>
    </article>
      <article>
        <header>Recomendation</header>
        <div>
        <ul>
          {% for product in most_bought_today %}
          <li>{{ product.name }}</li>
          {% endfor %}
        </ul>
      </div>
        </article>
  </div>
</div>
<script src="{% static 'js/cartActions.js' %}"></script>

{% endblock content %}