{% extends 'base.html' %} {% load templates %} {% load static %} {% block title %}
Home {% endblock title %} {% block content %}

<form method="GET" class="searchbar" action="{% url 'search' %}" >
  <input type="text" name="search" placeholder="Search">
  <button type="submit">Search</button>
</form>

<div style="display:flex;flex-direction:row;gap:5em">
  <div class="grid-custom">
    {% for product in products %}
    <article>
      <header>
        <img class="product-img" src="{% get_media_prefix %}/{{product.image}}.jpg" alt="{{ product.name }}">
      </header>
      <div>
        <a href="{% url 'product' product|private:'_id' %}" class="product-title">{{ product.name }}</a>
        <p class="product-body">{{ product.description|limitChars:100 }}</p>
        <div style="display:flex;flex-direction:row;align-items:center;margin-top:1em">
          <p style="font-weight:500">Quant: {{ product.stock }}</p>
          <p style="margin-left:auto" class="product-price">{{ product.price }} €</p>
        </div>
        {% if product.sold_by != None %}
        <ins class="soldby">Sold By {{product.sold_by}}</ins>
        {% endif %}
        {% with getid=product|private:'_id'%}

        <button class="addCart" id="{{ product|private:'_id' }}" 
        {% if product|private:'_id'|findInCart:cart or product.stock == 0 %} disabled {% endif %}>

          {% if product|private:'_id'|findInCart:cart %}
          Already in cart
          {% elif product.stock == 0 %}
          Out of stock
          {% else %}
          Add To Cart
          {% endif %}
        </button>
        {% endwith %}
      </div>

    </article>
    {% endfor %}
  </div>
  {% include 'custom/sideproducts.html' %}
</div>
<script src="{% static 'js/cartActions.js' %}"></script>

{% endblock content %}