{% extends 'base.html' %}{% load templates %} {% load static %} {% block title %} Orders {% endblock title %}
{% block content %}
{% for order in orders %}
<details>
    <summary role="button">
        Order #{{ order.id }} - {{ order.date|date:"d/m/Y" }} - {{ order.state }}
    </summary>
    <div style="text-align:center" id="order">
        {% if order.state == 'shipping info necessary' %}
        <a style="display: block;margin-bottom:1em" href="{% url 'checkout_shipping' order.id %}">
            <mark>This order is not complete as its missing the shipping information. Click here to finish setting
                up the order.</mark>
        </a>
        {% endif %}
        {% for product in order.products %}
        {% include 'custom/inline_product.html' with product=product%}
        {% endfor %}
        <ins style="font-size:x-large;" id="totalprice"></ins>
        {% if order.state != 'Authorized' and order.state != 'canceled' %}
        <br>
        <a role="button" class="secondary" style="margin-top:0.5em" href="{% url 'cancel_order' order.id %}">Cancel Order</a>
        {% endif %}
    </div>
</details>
{% endfor %}
{% endblock content %}