{% extends 'base.html' %} {% block title %} Search {% endblock title %}
{%block content %}

<form method="GET" class="searchbar">
    <input type="text" name="search" placeholder="Search" value="{{search}}">
    <button type="submit">Search</button>
</form>

<div class="results">
    {% if products|length != 0 %}
    <article>
        <header> Products </header>
    <div>
        {% for product in products %}
        {% include 'custom/inline_product.html' with product=product %}
        {% endfor %}
    </div>
    {% endif %}
    {% if users|length != 0 %}
    <article>
    <header> Users </header>
    <div>
        <div class="spread" style="padding-inline: 1em">
            <p>Name</p>
            <p>Email</p>
            <p>Role</p>
            <p>Status</p>
        </div>
        {% for user in users %}
        {% include 'custom/inline_user.html' with user=user action='profile'%}
        {% endfor %}
    </div>
</article>
    {% endif %}
</div>
{% endblock content %}