.warning {
  background-color: red;
}

body,
html {
  padding: 0;
  margin: 0;
}

.container {
  padding-block: 1.5em;
}

.grid-custom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  flex: 3;
}
.product-img {
  height: 10em;
  object-fit: fill;
  margin: 0 auto;
}

.product-title {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 0.5em;
}

.product-body {
  flex: 1;
  margin: 0;
}

.product-price {
  font-weight: bold;
  font-size: 28px;
  margin-top: auto;
  width: fit-content;
}

.addCart {
  margin-top: auto;
}

.product-cart-img {
  width: 5em;
  height: 5em;
}

article {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

article > div {
  margin: 0;
  padding: 1em;
}

article > ul {
  margin: 0;
  padding: 1em;
}

article > header {
  display: flex;
  margin: 0;
  padding: 1em;
}

.admin-actions {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-bottom: 2em;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.inline-usr {
  display: flex;
  flex-direction: row;
  border-radius: 5em;
  padding-inline: 0.5em;
  margin-bottom: 1em;
}

.inline-usr > * {
  margin: 0.2em;
}
.admin-background {
  background-color: rgba(255, 247, 0, 0.761);
}

.profile-header {
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto;
}

.soldby {
  font-size: 18px;
  font-weight: bold;
}
