{% extends 'base.html' %}
{% load templates %}
{% block title %}
Admin
{% endblock title %}

{% block content %}
{% include 'navbar.html' %}
<main class="container">
    <details>
        <summary role="button">
            Users
        </summary>
        <div>
            <a href="/addUser">Add User</a>
        </div>
        {% for user in users %}
        <div>
            <h2>{{ user.username }}</h2>
            <p>{{ user.email }}</p>
        </div>
        {% endfor %}
        </div>
    </details>
    <details>
        <summary role="button">
            Produtos
        </summary>
        <div>
            <a href="/addProduct">Add Product</a>
        </div>
        {% for product in products %}
        <div>
            <h2>{{ product.name }}</h2>
            <p>{{ product.description|limitChars:255 }}</p>
            <p>{{ product.price }}</p>
        </div>
        {% endfor %}
        </div>
    </details>
    </div>
</main>
{% endblock content %}