{% load templates %} {% with product_=product|getProduct %}
<div
  class="product"
  style="
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    width: 600px;
  "
  id="{{product_|private:'_id'}}"
>
  <p style="font-size: 23px; flex: 1">{{product_.name}}</p>
  <p><strong>{{product_.price}}€</strong></p>
  <input
    name="quantity"
    style="max-width: 100px"
    type="number"
    value="{{product_.quantity}}"
  />
  <button name="removeFromCart" class="warning" style="width: fit-content">
    X
  </button>
</div>
{% endwith %}
