{% extends 'base.html' %} {% load templates %} {% load static %}
{% block title%} Cart {% endblock title %} {% block content %}
<div id="cart" style="display: flex; flex-direction: column; padding: 2em;width:fit-content;margin: 0 auto">
    {% for product in cart %}
    {% include 'cartProduct.html' with product=product %}
    {% endfor %}
    {% if cart|length == 0%}
    Your cart is empty
    {% endif %}
</div>
{% if cart|length != 0 %}
<a href="/checkout" role="button" id="checkoutBtn" style="width: 10em; margin: 0 auto">Checkout</a>
{% endif %}
{% endblock content %}