{% extends 'base.html' %} {% load templates %} {% load static %}
{% block title %} Cart {% endblock title %} {% block content %}
<div id="cart" style="
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: fit-content;
    margin: 0 auto;
  ">
    {% for product in cart %}
    {% include 'cartProduct.html' with product=product%}
    {% endfor %}
    {% if cart|length == 0 %} Your cart is empty {% endif %}
    <ins style="text-align:center;font-size:x-large" id="totalprice"></ins>
</div>
{% if cart|length != 0 and request.user.is_authenticated %}
<div id="checkoutBtn" style="display:flex;justify-content:center">
    <a href="{% url 'checkout_billing' %}" role="button" style="width: fit-content">Checkout</a>
</div>
{% endif %} {% endblock content %}