{% extends 'base.html' %} {% load templates %} {% load static %} {% block title %}
Home {% endblock title %} {% block content %}
<div class="grid-custom">
  {% for product in products %}
  <article class="product-card">
    <header class="product-header">
      <img class="product-img" src="{% get_media_prefix %}/{{product.image}}.jpg" alt="{{ product.name }}">
    </header>
    <p class="product-title">{{ product.name }}</p>
    <p class="product-body">{{ product.description|limitChars:100 }}</p>
    <div style="display:flex;flex-direction:row;align-items:center;margin-top:1em">
      <p style="font-weight:500">Quant: {{ product.stock }}</p>
      <p style="margin-left:auto" class="product-price">{{ product.price }} €</p>
    </div>
    {% with getid=product|private:'_id'%}
    <button class="addCart" id="{{ product|private:'_id' }}" {%if product|private:'_id'|findInCart:cart %} disabled 
    {% endif %}>
      {%if product|private:'_id'|findInCart:cart %} 
        Already in cart
      {% else %} 
        Add To Cart
      {%endif%}
    </button>
    {% endwith %}
  </article>
  {% endfor %}
</div>
<script src="{% static 'js/cartActions.js' %}"></script>

{% endblock content %}