{% extends 'base.html' %} {% load templates %} {% load static %} {% block title %}
Home {% endblock title %} {% block content %} {% include 'navbar.html' %}
<main class="container">
  <div class="grid-custom">
    {% for product in products %}
    <article style="margin: 0">
      <header>{{ product.name }}</header>
      <p>{{ product.description }}</p>
      <p>{{ product.price }}€</p>
      {% with getid=product|private:'_id'%}
      <button class="addCart" id="{{ product|private:'_id' }}" {%if product|private:'_id'|findInCart:cart %} disabled {%endif%}>
        {%if product|private:'_id'|findInCart:cart %} Already in cart {% else %} Add To Cart {%endif%}
      </button>
      {% endwith %}
    </article>
    {% endfor %}
  </div>
</main>
<script src="{% static 'js/addToCart.js' %}"></script>

{% endblock content %}
