{% load static %}
{% load templates %}

<nav>
  <ul style="flex:1">
    <li><strong>Lojinha</strong></li>
  </ul>
  <ul style="margin-right:5em">
    <li {% if request.path == '/' %} class="active" {% endif %}>
      <a class="nav-link" href="/">Home</span></a>
    </li>
    <li {% if request.path == '/cart' %} class="active" {% endif %}>
      <a class="nav-link" href="{% url 'cart' %}">Cart</span></a>
    </li>
    {% if request.user.is_authenticated %}
    <li {% if request.path == '/cart' %} class="active" {% endif %}>
      <a class="nav-link" href="{% url 'orders' %}">Orders</span></a>
    </li>
    {% endif %}
    {% if request.user.is_superuser %}
    <li {% if request.path == '/admin' %} class="active" {% endif %}>
      <a class="nav-link" href="{% url 'admin' %}">Admin</a>
    </li>
    {% endif %}
  </ul>

  {% if request.user.is_authenticated %}
  <details role="list">
    <summary>
      {% with user=user.id|getUser %}
        {{user.username}}
      {% endwith %}
    </summary>
    <ul role="listbox">
      <li>
        <a href="">Profile</a>
      </li>
      <li>
        <a href="logout">Logout</a>
      </li>
    </ul>
  </details>


  
  {% else %}
  <li>
    <a href="login">Login</a>
  </li>
  {% endif %}
</nav>