{% load static %}

<nav>
  <ul>
    <li><strong>Lojinha</strong></li>
  </ul>
  <ul>
    <li {% if request.path == '/' %} class="active" {% endif %}>
      <a class="nav-link" href="/">Home</span></a>
    </li>
    {% if request.user.is_superuser %}
    <li {% if request.path == '/admin' %} class="active" {% endif %}>
      <a class="nav-link" href="admin">Admin</a>
    </li>
    {% endif %}
  </ul>
  {% if request.user.is_authenticated %}
  <li style="margin-left:auto">
    <a href="logout">Logout</a>
  </li>
  {% else %}
  <li style="margin-left:auto">
    <a href="login">Login</a>
  </li>
  {% endif %}
</nav>