.warning {
  background-color: red;
}

body,
html {
  padding: 0;
  margin: 0;
}

.grid-custom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.product-card {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.product-img {
  height: 10em;
  object-fit: fill;
}

.product-header {
  margin-bottom: 0.5em;
}

.product-title {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 0.5em;
}

.product-body {
  flex: 1;
  margin: 0;
}

.product-price {
  font-weight: bold;
  font-size: 28px;
  margin-top: auto;
  margin-left: auto;
  width: fit-content;
}

.product-cart-img{
  width: 5em;
  height: 5em;
  margin-left: auto;
}